%form{:"ng-submit" => "newGame(name)"}
  %input{:"ng-model" => "name"}
  %input{:type => "submit", :value => "{{'NEW' | translate}}"}
%div{:"ng-repeat" => "(gameId, gameData) in games"}
  %a{:"relative-href" => "#/{{gameId}}"} {{gameData.name}}
